{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
    <div class="main">
        <div class="shapka1">
            <div><img class="shapka_img1" src="{% static 'img\cursor_57sges5c9e6m_32.png'%}" alt=""></div>
            <div class="podshapka2"><a class="a2" href="">г.Шымкент,ст.Шымк...</a></div>
        </div>
        <div class="shapka2">
            <div class="shapka3">
                <div><img class="shapka_img2" src="{% static 'img\hanger_we92d1aoog4w_32.png'%}" alt=""></div>
                <div><a class="a3" href="">Доставка примеркой</a></div>
            </div>
            <div class="shapka4">
                <div><img class="shapka_img3" src="{% static 'img\banking_card_7ewz3iksu8m5_32.png'%}" alt=""></div>
                <div><a class="a4" href="">Платите когда хотите</a></div>
            </div>
        </div>
    </div>
    <div class="main2">
      <div class="mid_shapka1">
        <div><a href="">Женщинам</a></div>
        <div><a href="">Мужчинам</a></div>
        <div><a href="">Детям</a></div>
      </div>
      <div class="mid_shapka2">
        <div><h1><span class="custom-a">L</span><span class="custom-b">a</span> moda</h1></div>
      </div>
      <div class="mid_shapka3">
          <div><button class="b1">Войти</button></div>
          <div class="mid_shapka4">
            <div><img class="shapka_img4" src="{% static 'img\package_f0dl3tkhcbh6_32.png'%}" alt=""></div>
            <div><a href="">Корзина</a></div>
          </div>
      </div>
    </div>
    <div class="main3">
      <div class="end_shapka1">
        <div><a href="">Новинки</a></div>
        <div><a href="">Одежда</a></div>
        <div><a href="">Обувь</a></div>
        <div><a href="">Аксессуары</a></div>
        <div><a href="">Бренды</a></div>
        <div><a href="">Premium</a></div>
        <div><a href="">Спорт</a></div>
        <div><a href="">Красота</a></div>
        <div><a href="">Дом</a></div>
        <div><a href="">Made in KZ</a></div>
        <div><a href="">Sale%</a></div>
      </div>
      <div class="end_shapka2">
        <!-- <div><button class="b2">Поиск</button></div> -->
        <div><input type="text" placeholder="Поиск" class="b2"></div>
        <div><button class="b3"><img class="img3" src="{% static 'img\lupa_e21304v2ar9z_16.png'%}" alt=""></button></div>
      </div>
    </div>

    <div class="start_major1">
      <div class="start_major2">
        <div class="swiper1 mySwiper1">
          <div class="swiper-wrapper1">
            {% for shap in shapkyes%}
            <div class="swiper-slide1">
              <div><img src="{{shap.img.url}}" alt="{{shap.name}}"></div>
              <div>{{shap.name}}</div>
              <div>{{shap.descriptions}}</div>
            </div>
          {% endfor%}
        </div> 
      </div>
      </div>
      <div class="start_major3">
          {% for shap1 in shapkyes1%}
          <div><img src="{{shap1.img.url}}" alt="{{shap1.name}}"></div>
          <div>{{shap1.name}}</div>
          <div>{{shap1.descriptions}}</div> <br>
          {% endfor%}
      </div>
    </div>
      <div class="swiper-pagination1"></div>
    </div>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {% for lam in categoryes%}
          <div class="swiper-slide">
            <div class="lam_div2">
                <div><img class="img2" src="{{lam.img.url}}" alt="{{lam.name}}"></div>
                <div class="pod_lam2"><a class="a1" href="{% url 'lamoda_category' lam.id%}"><p>{{lam.name}}</p></a></div>
            </div>
          </div>
          {% endfor%}
        </div>
        <div class="swiper-pagination"></div>
      </div>
      
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 10,
          spaceBetween: 10,
          centeredSlides: false,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
        });
      </script>
      <script>
        var swiper = new Swiper(".mySwiper1", {
          slidesPerView: "auto",
          centeredSlides: true,
          spaceBetween: 30,
          pagination: {
            el: ".swiper-pagination1",
            clickable: true,
          },
        });
      </script>
</body>
</html>